Ignore the following
.exe
.json
.tfstate
.backup
.terraform
.tfstate.backup
terraform.tfstate
terraform.tfstate.backup
.tfvars
variables.sh
.terraform.lock.hcl
crash.log
.terraform.tfstate.lock.info
sedemo.tfvars
sedemo_properties.tfvars